<style>
    .giscus {
        margin-top: 20px;
    }
</style>

<script src="https://giscus.app/client.js"
        data-repo="simonebortolin/bortolin.io"
        data-repo-id="R_kgDOK8xi2Q"
        data-category="Comments"
        data-category-id="DIC_kwDOK8xi2c4Cb8OE"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>